[submodule "adamant-ModpackLib"]
	path = adamant-ModpackLib
	url = https://github.com/h2-modpack/adamant-ModpackLib.git
	branch = main
[submodule "adamant-ModpackFramework"]
	path = adamant-ModpackFramework
	url = https://github.com/h2-modpack/adamant-ModpackFramework.git
	branch = main
[submodule "adamant-Speedrun_Modpack"]
	path = adamant-Speedrun_Modpack
	url = https://github.com/h2pack-speedrun/adamant-Speedrun_Modpack.git
	branch = main
[submodule "Setup"]
	path = Setup
	url = https://github.com/h2-modpack/Setup.git
	branch = main
[submodule "Submodules/adamant-Speedrun_QoL"]
	path = Submodules/adamant-Speedrun_QoL
	url = https://github.com/h2pack-speedrun/adamant-Speedrun_QoL.git
	branch = main
[submodule "Submodules/adamant-Speedrun_Gameplay_QoL"]
	path = Submodules/adamant-Speedrun_Gameplay_QoL
	url = https://github.com/h2pack-speedrun/adamant-Speedrun_Gameplay_QoL.git
	branch = main
[submodule "Submodules/adamant-Speedrun_Balance_Changes"]
	path = Submodules/adamant-Speedrun_Balance_Changes
	url = https://github.com/h2pack-speedrun/adamant-Speedrun_Balance_Changes.git
	branch = main
[submodule "Submodules/adamant-Speedrun_Select_First_Hammer"]
	path = Submodules/adamant-Speedrun_Select_First_Hammer
	url = https://github.com/h2pack-speedrun/adamant-Speedrun_Select_First_Hammer.git
	branch = main
[submodule "Submodules/adamant-Speedrun_LiveSplit"]
	path = Submodules/adamant-Speedrun_LiveSplit
	url = https://github.com/h2pack-speedrun/adamant-Speedrun_LiveSplit.git
	branch = main
[submodule "Submodules/adamant-Speedrun_Surface_Rebalance"]
	path = Submodules/adamant-Speedrun_Surface_Rebalance
	url = https://github.com/h2pack-speedrun/adamant-Speedrun_Surface_Rebalance.git
	branch = main
