[submodule "adamant-ModpackLib"]
	path = adamant-ModpackLib
	url = https://github.com/h2-modpack/adamant-ModpackLib.git
	branch = main
[submodule "adamant-ModpackFramework"]
	path = adamant-ModpackFramework
	url = https://github.com/h2-modpack/adamant-ModpackFramework.git
	branch = main
[submodule "adamantSpeedrun-Speedrun_Modpack"]
	path = adamantSpeedrun-Speedrun_Modpack
	url = https://github.com/h2pack-speedrun/adamantSpeedrun-Speedrun_Modpack.git
	branch = main
[submodule "Setup"]
	path = Setup
	url = https://github.com/h2-modpack/Setup.git
	branch = main
[submodule "Submodules/adamantSpeedrun-QoL"]
	path = Submodules/adamantSpeedrun-QoL
	url = https://github.com/h2pack-speedrun/adamantSpeedrun-QoL.git
	branch = main
[submodule "Submodules/adamantSpeedrun-Gameplay_QoL"]
	path = Submodules/adamantSpeedrun-Gameplay_QoL
	url = https://github.com/h2pack-speedrun/adamantSpeedrun-Gameplay_QoL.git
	branch = main
[submodule "Submodules/adamantSpeedrun-Balance_Changes"]
	path = Submodules/adamantSpeedrun-Balance_Changes
	url = https://github.com/h2pack-speedrun/adamantSpeedrun-Balance_Changes.git
	branch = main
[submodule "Submodules/adamantSpeedrun-Select_First_Hammer"]
	path = Submodules/adamantSpeedrun-Select_First_Hammer
	url = https://github.com/h2pack-speedrun/adamantSpeedrun-Select_First_Hammer.git
	branch = main
[submodule "Submodules/adamantSpeedrun-LiveSplit"]
	path = Submodules/adamantSpeedrun-LiveSplit
	url = https://github.com/h2pack-speedrun/adamantSpeedrun-LiveSplit.git
	branch = main
[submodule "Submodules/adamantSpeedrun-Surface_Rebalance"]
	path = Submodules/adamantSpeedrun-Surface_Rebalance
	url = https://github.com/h2pack-speedrun/adamantSpeedrun-Surface_Rebalance.git
	branch = main
