[submodule "adamant-ModpackLib"]
	path = adamant-ModpackLib
	url = https://github.com/h2-modpack/ModpackLib.git
	branch = main
[submodule "adamant-ModpackFramework"]
	path = adamant-ModpackFramework
	url = https://github.com/h2-modpack/ModpackFramework.git
	branch = main
[submodule "adamant-ModpackSpeedrunCore"]
	path = adamant-ModpackSpeedrunCore
	url = https://github.com/h2pack-speedrun/ModpackSpeedrunCore.git
	branch = main
[submodule "Setup"]
	path = Setup
	url = https://github.com/h2-modpack/Setup.git
	branch = main
[submodule "Submodules/adamant-FirstHammer"]
	path = Submodules/adamant-FirstHammer
	url = https://github.com/h2pack-speedrun/FirstHammer.git
	branch = main
[submodule "Submodules/adamant-SpeedrunTimer"]
	path = Submodules/adamant-SpeedrunTimer
	url = https://github.com/h2pack-speedrun/SpeedrunTimer.git
	branch = main
[submodule "Submodules/adamant-BugFixesBoons"]
	path = Submodules/adamant-BugFixesBoons
	url = https://github.com/h2pack-speedrun/BugFixesBoons.git
	branch = main
[submodule "Submodules/adamant-BugFixesEncounters"]
	path = Submodules/adamant-BugFixesEncounters
	url = https://github.com/h2pack-speedrun/BugFixesEncounters.git
	branch = main
[submodule "Submodules/adamant-BugFixesWeapons"]
	path = Submodules/adamant-BugFixesWeapons
	url = https://github.com/h2pack-speedrun/BugFixesWeapons.git
	branch = main
[submodule "Submodules/adamant-RunModsNPCs"]
	path = Submodules/adamant-RunModsNPCs
	url = https://github.com/h2pack-speedrun/RunModsNPCs.git
	branch = main
[submodule "Submodules/adamant-RunModsWorld"]
	path = Submodules/adamant-RunModsWorld
	url = https://github.com/h2pack-speedrun/RunModsWorld.git
	branch = main
[submodule "Submodules/adamant-QoL"]
	path = Submodules/adamant-QoL
	url = https://github.com/h2pack-speedrun/QoL.git
	branch = main
